{% extends 'blog/base_blog.html' %}

    {% block title %}

        Posts list

    {% endblock %}

    {% block content %}

        <h1>
            POSTS
        </h1>

        {% for post in page_object.object_list %}
            {% include 'blog/includes/post_card_template.html' %}
        {% endfor %}

    {% if is_paginated %}

        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item {% if not prev_url %} disabled{% endif %}">
              <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

              {% for n in page_object.paginator.page_range %}

                {% if page_object.number == n %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                    </li>
                {% elif n > page_object.number|add:-2 and n < page_object.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% endif %}
              {% endfor %}

            <li class="page-item{% if not next_url %} disabled{% endif %}">
              <a class="page-link" href="{{ next_url }}">Next</a>
            </li>
          </ul>
        </nav>

    {% endif %}

    {% endblock %}

